
.navbar .hamburger-btn {
    display: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
}

.navbar .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
    color: #000;
    cursor: pointer;
}

.navbar .login-btn {
    border: none;
    outline: none;
    background: #fff;
    color: #275360;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.navbar .login-btn:hover {
    background: #ddd;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.blur-bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blur-bg-overlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .form-details {
    padding: 0 40px;
    background: url("images/login-img.jpg");
    background-position: center;
    background-size: cover;
}

.signup .form-details {
    padding: 0 20px;
    background: url("images/signup-img.jpg");
    background-position: center;
    background-size: cover;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #00bcd4;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #00bcd4;
    font-size: 0.75rem;
}

.form-box a {
    color: #00bcd4;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form :where(.forgot-pass-link, .policy-text) {
    display: inline-flex;
    margin-top: 13px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #00bcd4;
    transition: 0.2s ease;
}

form button:hover {
    background: #0097a7;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

.signup .policy-text {
    display: flex;
    margin-top: 14px;
    align-items: center;
}

.signup .policy-text input {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

@media (max-width: 950px) {
    .navbar :is(.hamburger-btn, .close-btn) {
        display: block;
    }

    .navbar .login-btn {
        font-size: 0.9rem;
        padding: 7px 10px;
    }
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}


/***************** Start Code ****************/

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s !important;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    font-family: "Noto Kufi Arabic", sans-serif !important;
    background-image: url(../img/5.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.container {}

/* نصوص بالأحمر مع ظل */
span {
    color: #f00;
    text-shadow: 0px 0px 20px #ffa200;
}

/***************************************************/
/* التصميم الأساسي */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1.nav-brand a {
    color: #3b3b3bda;
    text-shadow: 0px 0px 20px #ffa200;
    font-size: 30px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

h1.nav-brand a:hover {
    color: #ffa200;
}

h1 img {
    width: 250px;
    margin-bottom: -20px;
}

.nav-links {
    display: flex;
    gap: 20px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #007bff;
}

/******* login button ***************/

.nav-links {
    display: flex;
    gap: 15px;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border: 0px solid transparent;
    background-color: #ffcc00;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.button::before,
.button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 8px;
    box-sizing: border-box;
}



.button::before {
    border: 2px solid #ffcc00;
    animation: border-blink 1.5s infinite alternate;
}

.button::after {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(0);
    transition: transform 0.3s ease;
}

.button:hover::after {
    transform: scale(1);
}

.button span {
    margin-right: 10px;
    transition: transform 0.3s ease;
    color: #535353;
}

.button:hover span {
    transform: translateX(5px);
}

.login-button .icon {
    width: 18px;
    height: 18px;
    background-color: #333;
    mask: url('https://img.icons8.com/ios-filled/50/000000/door.png') no-repeat center;
    mask-size: contain;
    transition: transform 0.3s ease;
}

.register-button .icon,
.book-button .icon {
    width: 18px;
    height: 18px;
    background-color: #333;
    mask-size: contain;
    transition: transform 0.3s ease;
}

.register-button .icon {
    mask: url('https://img.icons8.com/ios-filled/50/000000/add-user-male.png') no-repeat center;
}

.book-button .icon {
    mask: url('https://img.icons8.com/ios-filled/50/000000/calendar.png') no-repeat center;
}

.button:hover .icon {
    transform: rotate(10deg);
}

@keyframes border-blink {
    from {
        border-color: #333;
    }

    to {
        border-color: #ff7300;
    }
}

.button:hover {
    box-shadow: none !important;
    transform: scale(0.9) !important;
    transition: 0.3s;
}

/******* login button ***************/
.nav-toggle {
    display: none;
    /* إخفاء الأيقونة بشكل افتراضي */
    font-size: 30px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;

}

.dark-mode-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
    margin-right: 20px;
}

/* تصميم الوضع الليلي */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .nav {
    background-color: #333;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .nav a,
body.dark-mode .nav-brand,
body.dark-mode .nav-toggle,
body.dark-mode .dark-mode-toggle {
    color: #ffffff;
}

body.dark-mode .nav a:hover {
    color: #ffa500;
}


/***************************************************/

/* الوضع العادي */
body {
    background-color: #ffffff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.nav a {
    color: #333;
}

button#dark-mode-toggle {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

/* الوضع المظلم */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .nav a {
    color: #ffffff;
}

body.dark-mode button#dark-mode-toggle {
    color: #ffffff;
}

body.dark-mode .nav {
    background: #333 !important;
}

body.dark-mode .nav a {
    color: #ffc800 !important;
    text-shadow: 0px 0px 20px #ffa200;
}

body.dark-mode .card {
    background: #333;
}

body.dark-mode .card-link {
    background: #535353;
    box-shadow: 0px 4px 0px 0px #fff;
    color: #ffc800;
    text-shadow: 0px 0px 20px #ffa200;
}

body.dark-mode .card-link:hover {
    background: #ffc800;
    box-shadow: 0px 4px 0px 0px #777777;
    color: #535353;
    text-shadow: 0px 0px 20px #ffa200;
}

body.dark-mode .s1-content {
    background: #333;
}

body.dark-mode .s1-content h2 {
    color: #ffc800;
    text-shadow: 0px 0px 20px #ffa200;
}

body.dark-mode .s1-content p {
    color: #ffc800;
    text-shadow: 0px 0px 20px #ffa200;
}

body.dark-mode .s1-content ul li {
    color: #ffc800;
    text-shadow: 0px 0px 20px #ffa200;
}

body.dark-mode .s1-content ul li span {
    color: #ff6600;
}

body.dark-mode .s1-content h2 span {
    color: #ff6600;
}

body.dark-mode span {
    color: #ff6600;
    text-shadow: 0px 0px 20px #ffa200;
}

body.dark-mode .tips-content {
    background-color: #33333360;
}

/* body.dark-mode .tips-section {
    background-color: #444;
} */

body.dark-mode .tip-item {
    box-shadow: inset 2px -1px 15px 5px #ffc800;
    background-color: #4444449a;
}

body.dark-mode .tip-item p {
    color: #ffc800;
    text-shadow: 0px 0px 20px #ffa200;
}

/****************************************************/

/*************** Start Header ************/
header {
    /* يمكنك إلغاء تعليق الخلفية إذا كنت تريد استخدام صورة */
    /* background-image: url(../img/1.png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-2 {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    position: relative;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #ffa200;
    transition: width 0.3s;
}

.nav a:hover::after {
    width: 100%;
}

header .content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.text-content {
    max-width: 600px;
    text-align: right;
}

.text-content h1 {
    color: #fff;
    text-shadow: 0px 0px 20px #ffa200;
    font-size: 48px;
    margin-bottom: 20px;
}

.text-content p {
    color: #ffffff;
    text-shadow: 0px 0px 5px #ffb500;
    font-size: 22px;
    margin-bottom: 30px;
}

.text-content a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: inset 2px -1px 15px 5px #ffc800;
}

.text-content a:hover {
    background-color: #fff;
    color: #333;
    box-shadow: inset 2px -1px 15px 5px #ffffff;
    border: 2px solid #ffc800;
}

.content-img {
    background-image: url(../img/2.png);
    width: 500px;
    height: 500px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.content-img:hover {
    transform: scale(1.1);
}

/*************** End Header ************/

/* Start Section 1 ************************/
#section1 {
    background-image: url(../img/5.png);
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
}

.section .s-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.s-title h1 {
    color: #333;
    text-shadow: 0px 0px 20px #bcbcbc;
    font-size: 40px;
    margin-bottom: 50px;
}

.s1-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    display: inline-block;
}

.s1-content h2 {
    color: #333;
    margin-bottom: 20px;
}

.s1-content p {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
}

.s1-content ul {
    list-style: none;
    padding: 0;
}

.s1-content ul li {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.s1-content ul li span {
    font-weight: bold;
    color: #ffa200;
}

.s1-content h2 span {
    color: #ffa200;
}

/* End Section 1 ************************/

/* Start Section 2 **********************/
.section {
    padding: 60px 20px;
    background-size: cover;
    background-position: center;
}

#section2 {
    background-image: url(../img/3.png);
}

.s-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    border: 1px solid #fff;
    width: 300px;
    transition: transform 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-img img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s, filter 0.3s;
}

.card-title h3 {
    font-size: 24px;
    color: #333;
    margin: 20px 0;
}

.card-link {
    text-decoration: none;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 0px 0px #fff;
}

.card-link:hover {
    background-color: #fff;
    color: #333;
    box-shadow: 0px 4px 0px 0px #333;
}

.card:hover {
    transform: translateY(-10px);
}

.card:hover .card-img img {
    transform: scale(1.05);
    filter: brightness(1.1);
}

/* End Section 2 ************************/